<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <!-- views/index.ejs -->
    <a href="/shirts">See All Shirts</a>
    <a href="/shirts/new">Add A New Shirt</a>
    
    <h1>This is a shopping list for shirts</h1>
    <h2>An app for collecting the shirts you are interested in</h2>
  </body>
</html>