<!-- views/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home page</title>
  </head>
  <body>
    <!-- views/index.ejs -->
    <a href="/shirts">See All Shirts</a>
    <a href="/shirts/new">Add A New Shirt</a>
    
    <h1>This is a shopping list for shirts</h1>
    <h2>An app for collecting the shirts for your fashion-hopeless friend</h2>
    <p>User A will collect the basic information about a shirt, including "type", "color", "brand", "price, "website url", if user B should or should ot buy this shirt, and the reason why. <br> User B will look into the All shirts list to see all the options collected by A and the reason why they should buy the shirt or not.</p>
  </body>
</html>